[Unit]
Description=OpenScanHub worker daemon
Requires=network-online.target
After=network-online.target

[Service]
Type=exec
ExecReload=kill -HUP $MAINPID
ExecStartPre=test -r /etc/osh/worker.conf
ExecStart=/usr/bin/osh-worker -f
KillMode=mixed
Restart=on-failure
StandardOutput=null

[Install]
WantedBy=multi-user.target
