[Unit]
Description=OpenScanHub worker daemon
Requires=network-online.target
After=network-online.target

[Service]
Type=exec
ExecStartPre=test -r /etc/osh/worker.conf
ExecStart=/usr/sbin/osh-worker -f
KillMode=process
Restart=on-failure
StandardOutput=null

[Install]
WantedBy=multi-user.target
