[Unit]
Description=OpenScanHub retention policy enforcer

[Service]
ExecStart=/usr/bin/osh-retention
Type=oneshot

[Install]
WantedBy=multi-user.target
