version: '3.8'

services:
  db:
    image: docker.io/postgres:12
    container_name: db
    hostname: db
    environment:
      POSTGRES_PASSWORD: velryba
      POSTGRES_USER: openscanhub
      POSTGRES_DB: openscanhub
    ports:
      - "5432:5432"
    networks:
      - internal-network

  osh-hub:
    image: osh-hub
    build:
      args:
        - "CENTOS_RELEASE"
      context: .
      dockerfile: ./containers/hub/Dockerfile
    container_name: osh-hub
    hostname: osh-hub
    depends_on:
      - db
    ports:
      - "8000:8000"
    networks:
      - internal-network
    volumes:
      - ./:/src:ro,z
      - hub-static:/src/osh/hub/static
      - hub-tasks:/src/osh/hub/tasks
      - hub-upload:/src/osh/hub/upload
      - hub-worker:/src/osh/hub/worker
      - coverage:/cov:U
    stdin_open: true
    tty: true

  osh-worker:
    image: osh-worker
    build:
      args:
        - "CENTOS_RELEASE"
      context: .
      dockerfile: ./containers/worker.Dockerfile
    container_name: osh-worker
    hostname: osh-worker
    depends_on:
      - osh-hub
    networks:
      - internal-network
    volumes:
      - ./:/src:z
      - coverage:/cov
    privileged: true
    stdin_open: true
    tty: true

  osh-client:
    image: osh-client
    build:
      args:
        - "CENTOS_RELEASE"
      context: .
      dockerfile: ./containers/client.Dockerfile
    container_name: osh-client
    hostname: osh-client
    depends_on:
      - osh-hub
    networks:
      - internal-network
    volumes:
      - ./:/src:z
      - coverage:/cov
    stdin_open: true
    tty: true
    profiles:
      - full-dev

networks:
  internal-network:

volumes:
  hub-static:
  hub-tasks:
  hub-upload:
  hub-worker:
  coverage:
