{% load i18n %}
<table class="list" width="100%">
  <tr>
    <th>{% trans "ID" %}</th>
    <th>{% trans "NVR" %}</th>
    <th>{% trans "Base" %}</th>
    <th>{% trans "State" %}</th>
    <th>{% trans "Date accessed" %}</th>
    <th>{% trans "Owner" %}</th>
  </tr>
{% for scanbinding in scanbinding_list %}
  <tr>
    <td><a href="{% url waiving/result scanbinding.result.id %}">{{ scanbinding.result.id }}</a></td>
    <td>{{ scanbinding.scan.nvr }}</td>
    <td>{{ scanbinding.scan.base.nvr }}</td>
    <td><span class="{{ scanbinding.scan.get_state_display }}">{{ scanbinding.scan.get_state_display }}</span></td>
    <td>{{ scanbinding.scan.last_access|date:"Y-m-d H:i:s" }}</td>
    <td>{{ scanbinding.scan.username }}</td>
  </tr>
{% endfor %}
</table>
