{% extends "base.html" %}
{% load i18n %}

{% block content %}
<h2>{% trans title %}</h2>

<form method="GET" target="" style="float: left;">
{{ search_form.release.label }} {{ search_form.release }}
{{ search_form.search }}
<input type="submit" value="{% trans "Search" %}" />
{% if user.is_authenticated %}<br />{{ search_form.my }} Show only my scans{% endif %}
{{ search_form.overdue }} Show only overdue runs
{{ search_form.latest }} Show only latest runs
</form>

{% include "pagination.html" %}
{% include "waiving/list_include.html" %}
{% include "pagination.html" %}

{% endblock %}
