{% load i18n %}
<table class="list" width="100%">
  <tr>
    <th class="table_sort.id.1">
        <a href="{{ request.path }}{{ table_sort.id.0 }}">{% trans "ID" %}</a>
    </th>
    <th class="table_sort.target.1">
        <a href="{{ request.path }}{{ table_sort.target.0 }}">{% trans "Target" %}</a>
    </th>
    <th class="table_sort.base.1">
        <a href="{{ request.path }}{{ table_sort.base.0 }}">{% trans "Base" %}</a>
    </th>
    <th class="table_sort.state.1">
        <a href="{{ request.path }}{{ table_sort.state.0 }}">{% trans "State" %}</a>
    </th>
    <th class="table_sort.access.1">
        <a href="{{ request.path }}{{ table_sort.access.0 }}">{% trans "Date accessed" %}</a>
    </th>
    <th class="table_sort.user.1">
        <a href="{{ request.path }}{{ table_sort.user.0 }}">{% trans "Owner" %}</a>
    </th>
    <th class="table_sort.release.1">
        <a href="{{ request.path }}{{ table_sort.release.0 }}">{% trans "Release" %}</a>
    </th>
  </tr>
{% for scanbinding in scanbinding_list %}
  <tr>
    <td><a href="{% url waiving/result scanbinding.id %}">{{ scanbinding.id }}</a></td>
    <td>{{ scanbinding.scan.nvr }}</td>
    <td>{{ scanbinding.scan.base.nvr }}</td>
    <td class="bg_{{ scanbinding.scan.get_state_display }} black_font bold_font">{{ scanbinding.scan.get_state_display }}</td>
    <td class="{{ scanbinding.scan.overdue }}">{{ scanbinding.scan.last_access|date:"Y-m-d H:i:s" }}</td>
    <td>{{ scanbinding.scan.username }}</td>
    <td>{{ scanbinding.scan.tag.release.tag }}</td>
  </tr>
{% endfor %}
</table>
