{% extends "waiving/result.html" %}
{% load i18n %}
{% load utils %}

{% block waiver %}

<h2>{{ active_group.checker_group.name }}</h2>

<div id="defects">

{% for defect in defects %}
    <div name="defects" class="{{ defect.get_state_display }}">
        <h3>{{ defect.order }}.
            Defect type: <a href="http://cov01.lab.eng.brq.redhat.com:8080/docs/en/cov_checker_ref.html#static_c_checker_{{ defect.checker.name }}">{{ defect.checker.name }}</a>
        </h3>
    {% comment %}
    {% if check.annotation %}
        <a href="http://cwe.mitre.org/data/definitions/{{ checker }}.html">{{ checker.annotation }}</a>
    {% endif %}
    {% endcomment %}
        <ul>
    {% for event in defect.events %}
            <li>
        {% if defect.key_event == forloop.counter0 %}
            <b>{{ event.file_name }}:{{ event|line_and_column }}:{{ event.event }} -- {{ event.message }}</b>
        {% else %}
            {{ event.file_name }}:{{ event|line_and_column }}:{{ event.event }} -- {{ event.message }}
        {% endif %}
            </li>
    {% endfor %}
        </ul>
    </div>
{% endfor %}

</div>

{% if display_waivers %}

    {% if waivers %}
<div id="waivers">
        {% for waiver in waivers %}
    <div class="waiver">
        User: {{ waiver.user }} </br>
        Date: {{ waiver.date|date:"Y-m-d H:i:s" }} </br>
        Status: {{ waiver.get_state_display }} </br>
        Message: <b>{{ waiver.message|linebreaks }}</b>
    </div>
        {% endfor %}
</div>
    {% endif %}

{% endif %} {# display_waivers #}

{% if waivers_place %}

<h3>This group has been waived in run: <a href="{% url waiving/waiver waivers_sb_id waivers_group_id %}">{{ waivers_place }}</a></h3>
{% endif %}

{% if user.is_authenticated %}

{% if display_form %}
<form action="{% url waiving/waiver sb.id active_group.id %}" method="post">{% csrf_token %}
{{ form.as_p }}
<input type="submit" value="Submit" />
</form>
{% else %}{% if form_message %}
<h3>{{ form_message }}</h3>
{% endif %}{% endif %}

{% else %}

<h3>You have to log in if you want to waive.</h3>

{% endif %} {# user_is_auth #}

{% if previous_waivers %}
<div>This group has been waived in the past:</div>
<ul>
    {% for w in previous_waivers %}
    <li>
        <a href="{% url waiving/waiver w.result_group.result.scanbinding.id w.result_group.id %}">{{ w.date }}</a>
        {{ w.message|linebreaks }}
    </li>
    {% endfor %}
</ul>
{% endif %}

{% endblock %}
