{% extends "waiving/result.html" %}
{% load i18n %}
{% load utils %}

{% block waiver %}

<div id="defects_container" class="{{ defects_list_class }}">

<a id="toggle_all" class="btn float_right margin_left toggle_all">
    <span class="show_text">Expand all</span>
    <span class="hide_text">Collapse all</span>
</a>
<a id="toggle_trace_all" class="btn float_right">
    <span class="show_text">Show all trace events</span>
    <span class="hide_text">Hide all trace events</span>
</a>

<h2>{{ active_group.checker_group.name }}</h2>

<div style="clear:both;"></div>

<div id="defects">
{% for defect in defects %}
    <div id="defect_{{ defect.id }}" class="{{ defect.get_state_display }} defect">
        <div id="defect_header_{{ defect.id }}">
            <span id="btn_toggle_{{ defect.id }}" class="btn float_right margin_1em event_collapse_btn">
                <span class="show_text">Expand</span>
                <span class="hide_text">Collapse</span>
            </span>
            <h3 class="padding_1em">{{ defect.order }}.
                Defect type: <a href="http://cov01.lab.eng.brq.redhat.com/coverity/doc/latest/cov_checker_ref.html#static_c_checker_{{ defect.checker.name }}">{{ defect.checker.name }}</a>
                <a title="Permalink to this defect" href="#defect_{{ defect.id }}" class="indoc_link">¶</a>
            </h3>
        </div>
    {% comment %}
    {% if check.cwe %}
        <a href="http://cwe.mitre.org/data/definitions/{{ checker.cwe }}.html">{{ checker.cwe }}</a>
    {% endif %}
    {% endcomment %}
        <div id="events_list_{{ defect.id }}" class="events_list">
    {% for event in defect.events %}
            <div
        {% if defect.key_event == forloop.counter0 %}
                class="key_event">
        {% else %}
            {% if event.verbosity_level %}
                class="level_{{ event.verbosity_level }}">
            {% else %}
                class="defect_event" style="display: none;">
            {% endif %}
        {% endif %}
                {{ forloop.counter }}. {{ event.file_name }}:{{ event|line_and_column }}:{{ event.event }} &#8211; {{ event.message }}
            </div>
    {% endfor %}
        </div>
    </div>
{% endfor %}
<a class="btn float_right margin_left toggle_all">
    <span class="show_text">Expand all</span>
    <span class="hide_text">Collapse all</span>
</a>
<a href="#header" class="btn float_right">Go to top</a>
<div style="clear:both;"></div>
</div>

{% if display_waivers %}

    {% if waiving_logs %}
<h2>Waiving log ({{ waiving_logs.count }})</h2>
<div>
    {% for wl in waiving_logs %}
    <div id="waiver_{{ wl.id }}"
        {% if wl.waiver.is_deleted %}
    class="waiving_log wl_type_DELETE transparent">
        {% else %}
            {% if wl.waiver.result_group.has_waiver and wl.waiver.result_group.has_waiver.id == wl.waiver.id %}
    class="waiving_log wl_type_{{ wl.get_state_display }}">
            {% else %}
    class="waiving_log wl_type_{{ wl.get_state_display }} transparent">
            {% endif %}
        {% endif %}

        <span class="button_line">
            <span class="waiver_type {{ wl.waiver.get_state_display }}">{{ wl.waiver.get_display_type }}</span> waiver submitted by {{ wl.waiver.user }} {{ wl.waiver.date|naturaltime }} ({{ wl.waiver.date|date:"Y-m-d H:i:s" }}).
            <a title="Permalink to this waiver" href="#waiver_{{ wl.id }}" class="indoc_link">¶</a>
        </span>

        <span id="btn_toggle_{{ wl.id }}" onclick="
            $(&quot;#waiver_text_{{ wl.id }}&quot;).toggle();
            $(&quot;#btn_toggle_{{ wl.id }}&quot;).toggleClass(&quot;currently_hiding&quot;);
        " class="btn float_right margin_left">
        {% if wl.waiver.is_deleted %}
            <span class="show_text">Expand</span>
            <span class="hide_text">Collapse</span>
        {% else %}
            <span class="show_text">Collapse</span>
            <span class="hide_text">Expand</span>
        {% endif %}
        </span>

        {% if wl.get_state_display != "DELETE" and not wl.waiver.is_deleted and user.is_authenticated %}
            <a class="btn float_right delete_link" href="{% url waiving/waiver/remove wl.waiver.id %}">Invalidate</a>
        {% endif %}

        {% if wl.waiver.is_deleted %}
        <div id="waiver_text_{{ wl.id }}" class="small grey waiver" style="display: none;">
        {% else %}
        <div id="waiver_text_{{ wl.id }}" class="small grey waiver">
        {% endif %}
            User {{ wl.user }}
            {% if wl.get_state_display == "NEW" %}
                submitted <span class="wl_type new">new</span> waiver:
            {% endif %}
            {% if wl.get_state_display == "REWAIVE" %}
                <span class="wl_type change">changed</span> current waiver:
            {% endif %}
            <div class="message_box">
            {#<div class="message">{{ wl.waiver.message|linebreaks }}</div>#}
            <div class="message">{{ wl.waiver.message }}</div>
            </div>
        </div>
        {% if wl.waiver.is_deleted %}
        <div class="small grey">
            This waiver has been <span class="wl_type delete">invalidated</span> by user {{ wl.waiver.get_delete_waiving_log.user }} {{ wl.waiver.get_delete_waiving_log.date|naturaltime }} ({{ wl.waiver.get_delete_waiving_log.date|date:"Y-m-d H:i:s" }}).
        </div>
        {% endif %}
    </div>
    {% endfor %}
</div>
    {% endif %}

{% endif %} {# display_waivers #}

{% if waivers_place and matching_waiver %}

<div class="waiving_log wl_type_PREV_WAIVED">
    <div class="small grey">This group has been waived in run: <a href="{% url waiving/waiver matching_waiver.result_group.result.scanbinding.id matching_waiver.result_group.id %}">{{ waivers_place }}</a></div>
    <div class="message">
    {{ matching_waiver.message }}
    </div>
</div>

{% endif %}

{% if user.is_authenticated %}

{% if display_form %}
<form action=
    {% if defects_list_class == "new" %}
    "{% url waiving/waiver sb.id active_group.id %}"
    {% else %}
    "{% url waiving/previously_waived sb.id active_group.id %}"
    {% endif %}
 method="post">{% csrf_token %}
{{ form.as_p }}
<input type="submit" value="Submit" name="submit" />

{% if defects_list_class == "new" %}
<input type="submit" value="Submit and show next" name="submit_next" />
{% endif %}

</form>
{% else %}{% if form_message %}
<h3>{{ form_message }}</h3>
{% endif %}{% endif %}

{% else %}

<h3>You have to log in if you want to waive.</h3>

{% endif %} {# user_is_auth #}

{% if previous_waivers %}
<h3>This group has been waived in a past with these waivers:</h3>
    {% for w in previous_waivers %}
    <div class="waiving_log wl_type_PAST_WAIVERS">
        Waiver for build <a href="{% url waiving/waiver w.result_group.result.scanbinding.id w.result_group.id %}">{{ w.result_group.result.scanbinding.scan.nvr}}</a> submitted {{ w.date|naturaltime }} ({{ w.date|date:"Y-m-d H:i:s" }}):
        <div class="message">
        {{ w.message }}
        </div>
    </div>
    {% endfor %}
{% endif %}

</div>

{% endblock %}
