{% extends "waiving/result.html" %}
{% load i18n %}
{% load utils %}

{% block waiver %}

<div id="defects_container" class="{{ defects_list_class }}">

<h2>{{ active_group.checker_group.name }}</h2>

<div id="defects">

{% for defect in defects %}
    <div name="defects" class="{{ defect.get_state_display }}">
        <h3>{{ defect.order }}.
            Defect type: <a href="http://cov01.lab.eng.brq.redhat.com:8080/docs/en/cov_checker_ref.html#static_c_checker_{{ defect.checker.name }}">{{ defect.checker.name }}</a>
        </h3>
    {% comment %}
    {% if check.annotation %}
        <a href="http://cwe.mitre.org/data/definitions/{{ checker }}.html">{{ checker.annotation }}</a>
    {% endif %}
    {% endcomment %}
        <ul>
    {% for event in defect.events %}
            <li>
        {% if defect.key_event == forloop.counter0 %}
            <b>{{ event.file_name }}:{{ event|line_and_column }}:{{ event.event }} -- {{ event.message }}</b>
        {% else %}
            {{ event.file_name }}:{{ event|line_and_column }}:{{ event.event }} -- {{ event.message }}
        {% endif %}
            </li>
    {% endfor %}
        </ul>
    </div>
{% endfor %}

</div>

{% if display_waivers %}

    {% if waiving_logs %}
<h2>Waiving log ({{ waiving_logs.count }})</h2>
<div>
    {% for wl in waiving_logs %}
        {% if wl.waiver.is_deleted %}
    <div class="waiving_log wl_type_DELETE">
        {% else %}
    <div class="waiving_log wl_type_{{ wl.get_state_display }}">
        {% endif %}
        User {{ wl.user }}
        {% if wl.get_state_display == "NEW" %}
            submitted <span class="wl_type new">new</span> waiver.
        {% endif %}
        {% if wl.get_state_display == "REWAIVE" %}
            <span class="wl_type change">changed</span> current waiver.
        {% endif %}
        {% if wl.get_state_display != "DELETE" and not wl.waiver.is_deleted and user.is_authenticated %}
            <a class="delete_link" href="{% url waiving/waiver/remove wl.waiver.id %}">⨯</a>
        {% endif %}
        <div class="small grey waiver">
            <span class="waiver_type {{ wl.waiver.get_state_display }}">{{ wl.waiver.get_display_type }}</span> waiver submitted by {{ wl.waiver.user }} at {{ wl.waiver.date|date:"Y-m-d H:i:s" }}:
            <div class="message_box">
            {#<div class="message">{{ wl.waiver.message|linebreaks }}</div>#}
            <div class="message">{{ wl.waiver.message }}</div>
            </div>
        </div>
        {% if wl.waiver.is_deleted %}
        <span class="small grey">
            This waiver has been <span class="wl_type delete">deleted</span> by user {{ wl.waiver.get_delete_waiving_log.user }} on {{ wl.waiver.get_delete_waiving_log.date|date:"Y-m-d H:i:s" }}.
        </span>
        {% endif %}
    </div>
    {% endfor %}
</div>
    {% endif %}

{% endif %} {# display_waivers #}

{% if waivers_place and matching_waiver %}

<div class="waiving_log wl_type_PREV_WAIVED">
    <div class="small grey">This group has been waived in run: <a href="{% url waiving/waiver matching_waiver.result_group.result.scanbinding.id matching_waiver.result_group.id %}">{{ waivers_place }}</a></div>
    <div class="message">
    {{ matching_waiver.message }}
    </div>
</div>

{% endif %}

{% if user.is_authenticated %}

{% if display_form %}
<form action=
    {% if defects_list_class == "new" %}
    "{% url waiving/waiver sb.id active_group.id %}"
    {% else %}
    "{% url waiving/previously_waived sb.id active_group.id %}"
    {% endif %}
 method="post">{% csrf_token %}
{{ form.as_p }}
<input type="submit" value="Submit" name="submit" />

{% if defects_list_class == "new" %}
<input type="submit" value="Submit and show next" name="submit_next" />
{% endif %}

</form>
{% else %}{% if form_message %}
<h3>{{ form_message }}</h3>
{% endif %}{% endif %}

{% else %}

<h3>You have to log in if you want to waive.</h3>

{% endif %} {# user_is_auth #}

{% if previous_waivers %}
<h3>This group has been waived in a past with these waivers:</h3>
    {% for w in previous_waivers %}
    <div class="waiving_log wl_type_PAST_WAIVERS">
        Waiver for build <a href="{% url waiving/waiver w.result_group.result.scanbinding.id w.result_group.id %}">{{ w.result_group.result.scanbinding.scan.nvr}}</a> submitted on
        {{ w.date|date:"Y-m-d H:i:s" }}:
        <div class="message">
        {{ w.message }}
        </div>
    </div>
    {% endfor %}
{% endif %}

</div>

{% endblock %}
