{% load i18n %}
<table class="list" width="100%">
  <tr>
    <th>{% trans "ID" %}</th>
    <th>{% trans "NVR" %}</th>
    <th>{% trans "Base" %}</th>
    <th>{% trans "State" %}</th>
    <th>{% trans "Owner" %}</th>
    <th>{% trans "Last Access" %}</th>
  </tr>
{% for sb in sb_list %}
  <tr>
    <td><a href="{% url scan/detail sb.id %}">{{ sb.id }}</a></td>
    <td>{{ sb.scan.nvr }}</td>
    <td>{{ sb.scan.base.nvr }}</td>
    <td>{{ sb.scan.get_state_display }}</td>
    <td>{{ sb.scan.username }}</td>
    <td>{{ sb.scan.last_access|date:"Y-m-d H:i:s" }}</td>
  </tr>
{% endfor %}
</table>
