{% extends "base.html" %}
{% load i18n %}
{% load filters %}
{% load humanize %}
{% load static %}

{% block head %}
<script src="https://cdn.plot.ly/plotly-2.20.0.min.js" charset="utf-8"></script>
<script type="text/javascript" language="javascript">
document.addEventListener("DOMContentLoaded", function() {
    fetch("{{ json_url }}").then(response => response.json()).then(data => {
        document.getElementById("chart_title").innerHTML =
            '<h3>' + data.title + '</h3>\n<h4>' + data.subtitle + '</h4>';

        Plotly.newPlot(document.getElementById('chart'),
            // datasets
            [{
                type: 'scatter',
                name: data.label,
                hovertemplate: '<b>%{x}</b><br>%{fullData.name}: %{y:,}<extra></extra>',
                x: data.x,
                y: data.y,
                line: {color: '#0b62a4'},
            }],
            // layout
            {
                autosize: true,
                margin: {
                    l: 50,
                    r: 50,
                    b: 50,
                    t: 25,
                    pad: 0,
                },
                showlegend: true,
                xaxis: {
                    type: 'date',
                    showgrid: false,
                },
                yaxis: {
                    rangemode: 'tozero',
                    zeroline: false,
                },
            },
            // config
            {
                displayModeBar: false,
                responsive: true,
            }
        );
    }).catch(console.error);
});
</script>
{% endblock %}

{% block content %}
<h2>{% trans title %}</h2>
<div>{{ type.comment }}</div>

<table>
    <tr>
        <th>Date</th>
        <th>Value</th>
    </tr>
{% for date, value in results|sort %}
    <tr>
        <td>{{ date|date:"Y-m-d H:i:s" }}</td>
        <td>{{ value|intcomma }}</td>
    </tr>
{% endfor %}
</table>
<div id="chart_container">
    <div id="chart_title"></div>
    <div id="chart"></div>
</div>
{% endblock %}
