{% extends "base.html" %}
{% load i18n %}
{% load filters %}
{% load humanize %}
{% load static %}

{% block head %}
<script type="text/javascript" src="{% static "js/jquery-1.8.3.min.js" %}"></script>
<script type="text/javascript" src="{% static "js/morris.min.js" %}"></script>
<script type="text/javascript" src="{% static "js/raphael-min.js" %}"></script>
<script type="text/javascript" language="javascript">
function formatDate(x)
{
    monthNames = ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug',
        'Sep', 'Oct', 'Nov', 'Dec'];
    return monthNames[x.getMonth()] + ' ' + x.getDate();
}

document.addEventListener("DOMContentLoaded", function() {
    fetch("{{ json_url }}").then(response => response.json()).then(data => {
        document.getElementById("chart_title").innerHTML =
            '<h3>' + data.title + '</h3>\n<h4>' + data.subtitle + '</h4>';

        Morris.Line({
            element: 'chart',
            data: data.data,
            xkey: 'x',
            ykeys: data.ykeys,
            xLabels: 'day',
            xLabelFormat: formatDate,
            labels: data.labels
        });
    }).catch(console.error);
});
</script>
{% endblock %}

{% block content %}
{% if release %}
<h2><a href="{% url 'stats/release/list' release.id %}">{{ release.product }}.{{release.release}}</a></h2>
{% endif %}
<h2>{{ type.short_comment }}</h2>
<div>{{ type.comment }}</div>

<table>
    <tr>
        <th>Date</th>
        <th>Value</th>
    </tr>
{% for date, value in results|sort %}
    <tr>
        <td>{{ date|date:"Y-m-d H:i:s" }}</td>
        <td>{{ value|intcomma }}</td>
    </tr>
{% endfor %}
</table>
<div id="chart_container">
    <div id="chart_title"></div>
    <div id="chart"></div>
</div>
{% endblock %}
