#header {
    background-color: #cc0000;
    background: -moz-linear-gradient(top, #ff0000, #cc0000, #a60000);
    background: -webkit-gradient(linear, left top, left bottom, from(#ff0000), to(#a60000), color-stop(0.5, #cc0000));
}

#menu a.active {
    color: #9e292b;
}

label {
    vertical-align:top;
}

/*title*/

.result_target_nvr {
    color: #00DD00;
}

.result_base_nvr {
    color: #EE0000;
}

/*bugzilla*/

#bz_wrapper a:link, a:visited{
    color: white;
}

#bz_number {
    font-weight: bold;
    background-color: #9E292B;
    padding: 0.4em;
}

#bz_wrapper {
}

#bz_update, #bz_create {
    padding: 0.4em;
    background-color: #ddd;
}

/*waiver's summary table*/

table.summary {
    font-size: 0.9em;
    border-spacing: 0px;
    border-collapse: separate;
    width: 100%;
}

table.summary td {
    padding: 0em 0em 0em 0.6em;
    /*border: 1px solid #999;*/
    border: 2px solid white;
    font-weight: bolder;
    /*width: 24em;*/
    min-width: 21em;
    height: 2.5em;
    line-height: 2.5em;
}

#legend_wrapper h4 {
    text-align: center;
    margin: 0px 0px 0px 0px;
}

table.legend {
    font-size: 0.9em;
    border-spacing: 0px;
    border-collapse: separate;
    width: 100%;
    margin-top: 0.3em;
}

table.legend td {
    padding: 0em 0em 0em 0.6em;
    border: 2px solid white;
    font-weight: bolder;
    min-width: 17em;
    height: 2.5em;
    line-height: 2.5em;
}

td.PASSED {
    background-color: #aaffaa;
}

td.WAIVED {
    background-color: #60ff40;
}

td.PREVIOUSLY_WAIVED {
    background-color: #AAFFFF;
}

td.NEEDS_INSPECTION {
    background-color: #ffff66;
}

td.IS_A_BUG {
    background-color: #ffb7b7;
}

td.INFO {
    background-color: #BBBBFF;
}

table #active {
    border: 2px solid #0000FF;
}

table span.FIXED {
    color: #007700;
}

table span.NEW {
    color: #FF0000;
}

table span.defects_increased {
    background-color: #FF9282;
    float: right;
    padding: 0 0.3em;
    text-align: right;
    min-width: 3em;
}

table span.defects_decreased {
    background-color: #44FF25;
    float: right;
    padding: 0 0.3em;
    text-align: right;
    min-width: 3em;
}

/**/

/*waivers presentation*/

/**/

#content #waivers div.waiver {
    border: 1px solid #aaa;
    margin: 0.5em;
    padding: 0.5em;
    width: 50%;
}

/*defects presentation*/

#content div#defects ul {
    font-family: "Courier New",monospace;
}

#content div#defects div.FIXED {
    background-color: #DDFFCC;
    margin: 0.5em;
    padding: 0.5em;
}

#content div#defects div.NEW {
    background-color: #FFD9D9;
    margin: 0.5em;
    padding: 0.5em;
}

/**/

/* TABLE list */

#content table.list span.QUEUED {
    color: #0033CC;
}

#content table.list span.SCANNING {
    color: #33AAAA;
}

#content table.list span.NEEDS_INSPECTION {
    color: #AAAA33;
}

#content table.list span.PASSED {
    color: #66AA66;
}

#content table.list span.WAIVED {
    color: #33AA11;
}

/**/

/* CHART */

#chart {
    width: 75%;
    height: 450px;
    margin: auto;
}

#chart_title {
    text-align: center;
}

#chart_container {
    border: 1px solid #777;
}

/**/