#header {
    background-color: #cc0000;
    background: -moz-linear-gradient(top, #ff0000, #cc0000, #a60000);
    background: -webkit-gradient(linear, left top, left bottom, from(#ff0000), to(#a60000), color-stop(0.5, #cc0000));
}

#menu a.active {
    color: #9e292b;
}

label {
    vertical-align:top;
}

/* SHORTCUTS */

.white_font {
    color: white;
}

.black_font {
    color: black;
}

.light_grey_bg {
    background-color: #CCC;
}

.grey_bg {
    background-color: #999;
}

.dark_grey_bg {
    background-color: #555;
}

/* STATES */

.bg_WAIVED {
    background-color: #00FF00;
}

.bg_PASSED {
    background-color: #DDDDDD;
}

.bg_PREVIOUSLY_WAIVED {
    background-color: #AAFFAA;
}

.bg_NEEDS_INSPECTION {
    background-color: #AAFFAA;
}

.bg_IS_A_BUG {
    background-color: #ffb7b7;
}

.bg_INFO {
    background-color: #AAFFAA;
}

.bg_SCANNING {
    background-color: #8888FF;
}

.bg_BASE_SCANNING {
    background-color: #6666FF;
}

.bg_FAILED {
    background-color: #FFAAAA;
}

.bg_CANCELED {
    background-color: #FFFF88;
}

.bg_DISPUTED {
    background-color: #FFBB66;
}

/*title*/

.result_target_nvr {
    color: #00DD00;
}

.result_base_nvr {
    color: #EE0000;
}

.info_box {
    font-weight: bold;
    padding: 0.5em;
}

#scan_state {
    float: right;
    margin-right: 0.5em;
}

#scan_release {
    float: right;
    background-color: #FF3333;
}

/*bugzilla*/

#bz_wrapper a:link, #bz_wrapper a:visited {
    color: white;
}

#bz_number {
    font-weight: bold;
    background-color: #9E292B;
    padding: 0.4em;
}

#bz_wrapper {
    margin-bottom: 1.5em;
}

#bz_update, #bz_create {
    padding: 0.4em;
    background-color: #9E292B;
}

/*tabs*/

#tabContainer ul {
    font-size: 1.5em;
    text-align: center;
    margin: 0;
}

#tabContainer ul li {
    padding: 7px 0;
    width: 15em;
    display:inline-block;
    color:#000;
    background: #EEE;
    cursor:pointer;
}

#tabContainer ul li:hover{
	background: #CCC;
}

#tabContainer ul li.selected {
	background: #CCC;
}

/*waiver's summary table*/

#status_messages {
    background-color: #FFFFBB;
    border: 1px solid #FFCC33;
    color: red;
    padding: 1em;
    text-align: center;
}

table.summary {
    margin-top: -2px;
    font-size: 0.9em;
    border-spacing: 0px;
    border-collapse: separate;
    width: 100%;
}

table.summary th {
    border: 2px solid #FFF;
    font-size: 18pt;
    height: 2em;
}

table.summary td {
    padding: 0em 0em 0em 0.6em;
    /*border: 1px solid #999;*/
    border: 2px solid white;
    font-weight: bolder;
    font-size: 11pt;
    /*width: 24em;*/
    min-width: 21em;
    height: 2.5em;
    line-height: 2.5em;
}

#legend_wrapper h4 {
    text-align: center;
    margin: 0px 0px 0px 0px;
}

table.legend {
    font-size: 0.9em;
    border-spacing: 0px;
    border-collapse: separate;
    width: 100%;
    margin-top: 0.3em;
}

table.legend td {
    padding: 0em 0em 0em 0.6em;
    border: 2px solid white;
    font-weight: bolder;
    min-width: 17em;
    height: 2.5em;
    line-height: 2.5em;
}

table #active {
    border: 2px solid #0000FF;
}

table span.FIXED {
    color: #007700;
}

table span.NEW {
    color: #FF0000;
}

table span.defects_increased {
    background-color: #FF9282;
    float: right;
    padding: 0 0.3em;
    text-align: right;
    min-width: 3em;
}

table span.defects_decreased {
    background-color: #44FF25;
    float: right;
    padding: 0 0.3em;
    text-align: right;
    min-width: 3em;
}

table span.diff_state_neutral {
    background-color: #BBB;
    float: right;
    padding: 0 0.3em;
    text-align: right;
    min-width: 3em;
}

/**/

/*waivers presentation*/

.waiving_log {
    background-color: #EEEEEE;
    margin: 1em 3em 1em 2em;
    padding: 1em 1.5em 0.9em;
}

.wl_type_NEW {
    border: 1px solid #20D000;
    box-shadow: 0 0 4px #20D000;
}

.wl_type_DELETE {
    border: 1px solid #DB2a2a;
    box-shadow: 0 0 4px #DB2a2a;
}

.wl_type_REWAIVE {
    border: 1px solid #EDB600;
    box-shadow: 0 0 4px #EDB600;
}

.wl_type_PREV_WAIVED {
    border: 1px solid #AAFFFF;
    box-shadow: 0 0 4px #AAFFFF;
}

.wl_type_PAST_WAIVERS {
    border: 1px solid #CCC;
    box-shadow: 0 0 4px #CCC;
}

.wl_type {
    border: 1px solid transparent;
    color: #FFFFFF;
    font-weight: bold;
    opacity: 0.9;
    padding: 2px 3px 1px;
}

div.waiver span.IS_A_BUG {
    background-color: #FFB7B7;
    color: #DD0000;
}

div.waiver span.NOT_A_BUG {
    background-color: #AAFFAA;
    color: #009900;
}

div.waiver span.FIX_LATER {
    background-color: #F5F500;
    color: #AA6600;
}

.waiver_type {
    border: 1px solid transparent;
    font-weight: bold;
    opacity: 0.9;
    padding: 3px 4px 2px;
}

div.waiving_log span.delete {
    background-color: #DB2a2a;
}

div.waiving_log span.new {
    background-color: #20D000;
}

div.waiving_log span.change {
    background-color: #EDB600;
}

.delete_link {
    float: right;
    padding: 0.3em;
    border: 1px solid red;
    background-color: #FFBBBB;
    text-decoration: none;
    color: red;
}

.message_box {
    padding: 0.3em 0.7em 0.3em;
}

.message {
    background-color: #FFF;
    border: 1px solid #AAA;
    font-size: 16px;
    margin: 0 0 0.5em 0.5em;
    padding: 10px 8px;
    color: #000;
}

.small {
    font-size: 12px;
}

.grey {
    color: #888;
}

.waiver {
    padding-top: 1.5em;
}

/**/

/*defects presentation*/

#content div#defects ul {
    font-family: "Courier New",monospace;
    margin: 1em;
    padding-left: 1.5em;
}

#content div#defects div {
    margin: 1em 3em 1em 2em;
}

div#content div#defects div h3 {
    margin: 0;
    padding: 1em;
}

#content div#defects div.FIXED {
    background-color: #DDFFCC;
}

#content div#defects div.FIXED {
    background-color: #DDFFCC;
    border: 2px solid #BBFFAA;
    box-shadow: 0 0 5px #BBFFAA;
}

#content div#defects div.NEW {
    background-color: #FFD9D9;
    border: 2px solid #FFB0B0;
    box-shadow: 0 0 5px #FFB0B0;
}

div#content div#defects div.NEW h3 {
    background-color: #FFEEEE;
}

/**/

/* CHART */

#chart {
    width: 75%;
    height: 450px;
    margin: auto;
}

#chart_title {
    text-align: center;
}

#chart_container {
    border: 1px solid #777;
}

/**/