{% extends "layout.html" %}
{% load i18n %}
{% load static %}

{% block css %}
  <script type="text/javascript" src="{% static "js/jquery-1.8.3.min.js" %}"></script>
  <link rel="stylesheet" href="{% static "css/redhat.css" %}" type="text/css" media="screen" />
{% endblock %}

{% block header_site_name %}
Red Hat Static Analysis Scheduler
{% endblock %}

{% block login %}
<a href="{% url 'auth/login' %}?next={{ request.path }}">login</a> | <a href="{% url 'auth/krb5login' %}?next={{ request.path }}">krb5login</a>
{% endblock %}

{% block header_login %}
{% endblock %}

{% block footer %}
Bugs and RFEs should be reported in <a href="https://gitlab.cee.redhat.com/covscan/covscan/issues">GitLab</a>.
Copyright © Red Hat, Inc. All rights reserved.
{% endblock %}

{% block js %}
{% endblock %}
