{% extends "base.html" %}
{% load i18n %}

{% block content %}
<h2>Scan #{{ sb.id }}: {{ sb.scan.state }}</h2>

<h3>Details</h3>
<table class="details">
  <tr>
    <th>{% trans "ID" %}</th>
    <td>{{ sb.id }}</td>
  </tr>
  <tr>
    <th>{% trans "State" %}</th>
    <td>{{ sb.scan.get_state_display }}</td>
  </tr>
  <tr>
    <th>{% trans "Target" %}</th>
    <td>{{ sb.scan.nvr }}</td>
  </tr>
  <tr>
    <th>{% trans "Base" %}</th>
    <td>{{ sb.scan.base }}</td>
  </tr>
  <tr>
    <th>{% trans "Tag" %}</th>
    <td>{{ sb.scan.tag.name }}</td>
  </tr>
  <tr>
    <th>{% trans "Owner" %}</th>
    <td>{{ sb.scan.username }}</td>
  </tr>
  <tr>
    <th>{% trans "Task" %}</th>
    <td><a href="{% url 'task/detail' sb.task.id %}">{{ sb.task }}</a></td>
  </tr>
  <tr>
    <th>{% trans "RHEL Version" %}</th>
    <td>{{ sb.scan.tag.release.product }} {{ sb.scan.tag.release.release }}</td>
  </tr>
  <tr>
    <th>{% trans "Last access" %}</th>
    <td>{% if scan.last_access %}{{ scan.last_access|date:"Y-m-d H:i:s" }}{% endif %}</td>
  </tr>
</table>

{% endblock %}
