{% extends "base.html" %}
{% load i18n %}

{% block content %}
<h2>{% trans title %}</h2>

<form method="GET" target="">
  {{ form.search }}
  <input type="submit" value="{% trans "Search" %}"/>
  {{ form.blocked }} Show only blocked packages
</form>

{% include "pagination.html" %}

<table class="list" width="100%">
  <tr>
    <th>{% trans "Name" %}</th>
    <th>{% trans "Blocked" %}</th>
    <th>{% trans "Count" %}</th>
    <th>{% trans "Latest scans" %}</th>
  </tr>
{% for package in page_obj %}
  <tr>
    <td><a href="{% url 'package/detail' package.id %}">{{ package.name }}</a></td>
    <td>
      {% if package.get_partially_blocked_releases and not package.blocked %}
        Partially
      {% else %}
        {{ package.blocked }}
      {% endif %}
    </td>
    <td>{{ package.scans_number }}</td>
    <td>{{ package.display_latest_scans }}</td>
  </tr>
{% endfor %}
</table>

{% include "pagination.html" %}

{% endblock %}
