{% extends "base.html" %}
{% load i18n %}
{% load filters %}

{% block head %}
<script type="text/javascript" src="{{ MEDIA_URL }}js/morris.min.js"></script>
<script type="text/javascript" src="{{ MEDIA_URL }}js/raphael-min.js"></script>
<script type="text/javascript" language="javascript">
function formatDate(x)
{
    monthNames = ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug',
        'Sep', 'Oct', 'Nov', 'Dec'];
    return monthNames[x.getMonth()] + ' ' + x.getDate();
}

$(document).ready(function() {
    $.getJSON("{% url stats/detail/graph type.id %}",function(data)
    {
        $("#chart_title").html(
            '<h3>' + data.title + '</h3>\n' +
            '<h4>' + data.subtitle + '</h4>'
        );
        Morris.Line({
            element: 'chart',
            data: data.data,
            xkey: 'x',
            ykeys: data.ykeys,
            xLabels: 'day',
            xLabelFormat: function (x) { return formatDate(x); },
            labels: data.labels
        });
    })
});
</script>
{% endblock %}

{% block content %}
<h2>{{ type.short_comment }}</h2>
<div>{{ type.comment }}</div>

<table>
    <tr>
        <th>Date</th>
        <th>Value</th>
    </tr>
{% for date, value in results|sort %}
    <tr>
        <td>{{ date|date:"Y-m-d H:i:s" }}</td>
        <td>{{ value }}</td>
    </tr>
{% endfor %}
</table>
<div id="chart_container">
    <div id="chart_title"></div>
    <div id="chart"></div>
</div>
{% endblock %}

