name: Integration Tests
on:
  push:
    branches: [main]
  pull_request:
    branches: [main]
jobs:
  integration-tests:
    runs-on: ubuntu-20.04
    steps:
      - name: Install packages required to run job in a container
        run: |
          pip3 install podman-compose

      - name: Checkout Git Repository
        uses: actions/checkout@v3
        with:
          fetch-depth: 0

      - name: Checkout Kobo Git Repository
        uses: actions/checkout@v3
        with:
          fetch-depth: 0
          path: kobo
          repository: release-engineering/kobo

      - name: Run integration tests
        run: |
          containers/scripts/generate_integration_test_coverage.sh --force

      - name: "Upload Integration Tests Coverage to Codecov"
        uses: codecov/codecov-action@v3
        with:
          name: "Archive Integration Tests Coverage"
          files: coverage.xml
          fail_ci_if_error: false
          verbose: true
