name: Integration Tests
on:
  push:
    branches: [main]
  pull_request:
    branches: [main]
jobs:
  integration-tests:
    strategy:
      fail-fast: false
      matrix:
        centos-stream: [8, 9]

    runs-on: ubuntu-24.04
    steps:
      - name: Install packages required to run job in a container
        run: |
          pip3 install podman-compose

      - name: Checkout Git Repository
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Checkout Kobo Git Repository
        uses: actions/checkout@v4
        with:
          ref: refs/tags/kobo-0.39.0
          path: kobo
          repository: release-engineering/kobo

      - name: Run integration tests
        run: |
          # Remove the buildroot_lock plug-in of mock, which does not work well in the Ubuntu CI environment
          echo 'RUN rm -fv /usr/lib/python3.*/site-packages/mockbuild/plugins/buildroot_lock.py' >> containers/worker.Dockerfile

          CENTOS_RELEASE='${{matrix.centos-stream}}' containers/scripts/generate_integration_test_coverage.sh --force

      - name: "Upload Integration Tests Coverage to Codecov"
        uses: codecov/codecov-action@v5
        with:
          name: "Archive Integration Tests Coverage"
          files: coverage.xml
          fail_ci_if_error: false
          verbose: true
