name: Lint
on:
  push:
    branches: [main]
  pull_request:
    branches: [main]
jobs:
  lint:
    runs-on: ubuntu-latest
    container: registry.fedoraproject.org/fedora:latest
    steps:
      - name: Install packages required for lint
        run: |
          dnf install -qy pre-commit gcc git-core make python3-devel

      - name: Checkout Git Repository
        uses: actions/checkout@v5
        with:
          fetch-depth: 0

      - name: Lint
        run: |
          # This is here to suppress a warning from GitHub
          git config --global --add safe.directory /__w/openscanhub/openscanhub

          # Check if we are running CI in a fork
          if ! git remote -v | grep -q 'origin.*openscanhub/openscanhub'; then
            REMOTE=openscanhub
            git remote add ${REMOTE} https://github.com/openscanhub/openscanhub.git
            git fetch ${REMOTE}
          fi
          make lint
