name: Lint
on:
  push:
    branches: [main]
  pull_request:
    branches: [main]
jobs:
  lint:
    runs-on: ubuntu-latest
    container: registry.fedoraproject.org/fedora:latest
    steps:
      - name: Install packages required for lint
        run: |
          dnf install -y pre-commit make git-core

      - name: Checkout Git Repository
        uses: actions/checkout@v3
        with:
          fetch-depth: 0

      - name: Lint
        run: |
          # This is here to suppress a warning from GitHub
          git config --global --add safe.directory /__w/openscanhub/openscanhub
          # TODO: This should be moved to `make lint` once we migrate to GitHub
          REPO=origin
          BRANCH=main
          # Check if we are running CI in a fork
          if ! git remote -v | grep -q 'origin.*openscanhub/openscanhub'; then
            REPO=openscanhub
            git remote add ${REPO} https://github.com/openscanhub/openscanhub.git
          fi
          git fetch ${REPO} ${BRANCH}
          pre-commit run --show-diff-on-failure --color=always --from-ref ${REPO}/${BRANCH} --to-ref HEAD
